PHONE_NUMBER=628xxxxxxxxxx
SESSION_DIR=./session-asep-bot
LOG_LEVEL=silent
ADMIN_TELEGRAM=asepbot415
WHATSAPP_CHANNEL_URL=https://whatsapp.com/channel/0029VbAgmUm7IUYaeb4GHN1y
AUTO_FOLLOW_CHANNEL=false
